<component name="libraryTable">
  <library name="spring-web-4.0.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-web/4.0.0.M3/jar/d4de9ac26f873430ce747e68330246b0529de20c/spring-web-4.0.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-web/4.0.0.M3/source/210040730deb4339ec0333f612ab687c5156aaf0/spring-web-4.0.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>