<component name="libraryTable">
  <library name="spring-data-commons-1.6.2.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.data/spring-data-commons/1.6.2.RELEASE/jar/e96a0458cdc3179ca70c880f42315bb75df4faf5/spring-data-commons-1.6.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.data/spring-data-commons/1.6.2.RELEASE/source/766a63fd5d4174ce1f738b7a7269350aa20f31c4/spring-data-commons-1.6.2.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>