<component name="libraryTable">
  <library name="spring-orm-4.0.0.RC1">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-orm/4.0.0.RC1/jar/f1762f75ca7a2bfbd93ac276cfb76cda67dd0f7e/spring-orm-4.0.0.RC1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-orm/4.0.0.RC1/source/76f796fa43ee4c5d74f21d91f157c88355b9d674/spring-orm-4.0.0.RC1-sources.jar!/" />
    </SOURCES>
  </library>
</component>