<component name="libraryTable">
  <library name="spring-boot-starter-web-0.5.0.M5">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-web/0.5.0.M5/jar/d9de326c6041895d756173013f3d6f1a56fb892b/spring-boot-starter-web-0.5.0.M5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>