<component name="libraryTable">
  <library name="spring-boot-starter-aop-0.5.0.M6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-aop/0.5.0.M6/jar/4591a979ae1d9a40225bc4c13a40c67a664ea5e6/spring-boot-starter-aop-0.5.0.M6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>